In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import warnings
warnings.filterwarnings("ignore")

#### Задача 1

Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]

scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [2]:
df = pd.DataFrame ({'values': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
                   'scoring': [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})
df

   values  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [3]:
cov = ((df['values'] - df['values'].mean()) * (df['scoring'] - df['scoring'].mean())).sum() / (df['values'].shape[0] - 1)
cov

10175.37777777778

In [4]:
np.cov(df['values'], df['scoring'])

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [5]:
corr = cov / (df['values'].std() * df['scoring'].std(ddof = 1))
corr

0.8874900920739164

In [6]:
df[['values', 'scoring']].corr()

          values  scoring
values   1.00000  0.88749
scoring  0.88749  1.00000

#### Задача 2

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [7]:
iqs = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
n = iqs.shape[0]

mean = iqs.mean()
std = iqs.std(ddof=1)

n, mean, std

(10, 118.1, 10.54566788359614)

In [8]:
p = 0.95
alpha = 1 - p

t1 = stats.t.ppf(alpha / 2, df=n - 1)
t2 = stats.t.ppf(1 - alpha / 2, df=n - 1)

t1, t2

(-2.2621571627409915, 2.2621571627409915)

In [9]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(110.55608365158724, 125.64391634841274)

#### Задача 3

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [10]:
p = 0.95
n = 27
mean = 174.2
d = 25
std = np.sqrt(d / n)
p, n, mean, d, std

(0.95, 27, 174.2, 25, 0.9622504486493763)

In [11]:
alpha = 1 - p

t1 = stats.norm.ppf(alpha / 2)
t2 = stats.norm.ppf(1 - alpha / 2)

t1, t2

(-1.959963984540054, 1.959963984540054)

In [12]:
(mean + t1 * std / np.sqrt(n), mean + t2 * std / np.sqrt(n))

(173.83704370656665, 174.56295629343333)

#### Задача 4

Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики и напишите ее в комментарии к Практическому заданию.

dataset url: https://www.kaggle.com/knightbearr/pizza-price-prediction

Я буду проверять соотношение размера пиццы и его цены